nav{
    position: fixed;
    top: 0;
    left: 0;

    color : rgb(2, 2, 2);
    background-color: rgb(255, 255, 255);
    text-underline-offset: none;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    width: 100%;
    box-sizing: border-box;
    
}

nav:visited {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color : rgb(2, 2, 2);
    background-color: rgb(0, 38, 255);
    text-underline-offset: none;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
    padding: 10px;
    font-weight: bold;
    font-size: medium;
}
/*
body {
    margin: 0;
    padding: 0;
    background-image: url('/static/mininion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('/static/home.JPG');
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

/* for the  minioninifier home card */
.cardhome {
    text-decoration: none;
    color: inherit;
    width: max-content;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 20px;
    align-content: center;


}

.cardhome:hover {
  transform: scale(1.50);
}

h2 {
  margin-top: 0;
  background-color: #ddd;
  text-align: center;
  font-family: serif;
}

p {
  margin-bottom: 0;
}

/* for the minioninifuier home page body */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative; /* for absolute positioning */
}
/*styling the minions running over on top of background*/
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 2; 
}

/* for the search cards in home.html*/
.card {
    text-decoration: none;
    color: inherit;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}

.card:hover {
    transform: scale(1.05);
  }
  
  .card-image img {
    width: 50%;
    height: 50px;
    border-bottom: 1px solid #ddd;
  }
  
  .card-content {
    padding: 10px;
  }
  h2 {
    margin-top: 0;
    background-color: #ddd;
    text-align: center;
    font-family: serif;
  }
  
  p {
    margin-bottom: 0;
  }

  .results {

  }
    .h1 {
      font-weight: bold;
      background-color: azure;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;
    }
    .h2{
      font-weight: bold;
      background-color: azure;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;
    }
    .p {
      font-weight: bold;
      background-color: azure;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;
    }
    .li {
      font-weight: bold;
      background-color: azure;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;
    }
