<!--{% extends "base.html" %}
{% block content %}
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Minioninifier</title>
    <link rel="stylesheet" href="/static/style.css" />
    </head>
    <h1></h1>
    <body>    
        <a href="/home" class="card">
            <div class="cardhome">
                <img src="https://fontmeme.com/permalink/240313/11999471c69de7ede27235fcbe904276.png" alt="minions-font" border="0">
            </div>
            <div class="card-content">
                <h2>Home Page</h2>
            </div>
        </a>
    </body>
    <!--
    {% endblock %}
-->
</html>
