{% extends "base.html" %}
{% block content %}
    <h1>Search Results</h1>
    <div>
        <!-- Items from JSON string go here, getAlbum returns the entire json data result-->
        <h2>{{ results.name }}</h2>
        <p>Total Tracks: {{ results.total_tracks }}</p>
        <p>ID: {{ results.id }}</p>
        {% if results.images %}
            <img src="{{ results.images[0].url }}" alt="Album Image">
        {% endif %}
        <ul>
            {% for track in tracks %}
                <li>{{ track }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}