{% extends "base.html" %}
{% block content %}
    <h1>Search Results</h1>
    <div>
        {% for results in all_results %}
            <h2>{{ results.name }}</h2>
            <p>ID: {{ results.id }}</p>
            <p>Artist: 
                {{results.artists | map(attribute='name') | join(', ') }}
            </p>
            <p>Album: {{results.album.name}}</p>
            {% if results.album.images %}
                <img src="{{ results.album.images[0].url }}" alt="Album Image" width="300" height="300">
            {% endif %}

            {% if addPlaylist != "Empty" %}
                {% if results.uri %}
                        <form method="post" action="/addPlaylist">
                            <select id="urlPlaylist" name="urlPlaylist">
                                {% for key, value in addPlaylist.items() %}
                                    <option value='https://api.spotify.com/v1/playlists/{{value}}/tracks?uris={{results.uri}}'>{{key}}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Add to Playlist">
                        </form> 
                {% endif %}
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}